/* Fonts
========== */

@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');


/* Global
=========== */

:root {
    --clear: rgb(255, 255, 255, 0);
    background: linear-gradient(to right, #ff5f6d     , #ffc371);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: "Exo 2", cursive;
    
}

h1,
#question {
    font-size: 3rem;
    color: rgb(28, 0, 36);
    margin-bottom: 3rem;
}

h2 {
    font-size: 4.2rem;
    margin-bottom: 2rem;
}

/* Header Elements
==================== */

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    margin: 0 auto;
    margin-top: 10rem;
    max-width: 70rem;
}

.hs-header {
    color: #fff;
    font-size: 2.4rem;
    text-decoration: none;
    margin-left: 1rem;
    background: var(--clear);
    text-align: left;
    border: none;
}

.fa-crown {
    margin-left: .5rem;
    background:var(--clear);
}

.timer {
    background:var(--clear);
}

.timer-display {
    font-size: 2.5rem;
    color: #fff;
    margin-left: 1rem;
    background:var(--clear);
}

.timerCounter {
    background:var(--clear);
    font-size: 2.2rem;
}

/* Container/Rules Elements
============================ */

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    max-height: 50rem;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 2rem;
    background:rgb(255, 255, 255, .7);
    border-radius: 2rem;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(89, 58, 91, 0.6);
}

.flex-column {
    display: flex;
    flex-direction: column;
    background:var(--clear);
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.hidden {
    display: none;
}

.ready {
    background:var(--clear);
}

.rules {
    font-size: 2rem;
    text-align: center;
    background:var(--clear);
    line-height: 2;
}

.btn {
    width: 15rem;
    height: 5rem;
    font-size: 2rem;
    background: #f88770;
    margin-top: 2rem;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0rem 0.4rem .6rem 0 rgba(144, 88, 88, 0.6);
    transition: transform 150ms;
    transform: scale(1.03);
}

/* Choice Elements
==================== */

.choice-container {
    display: flex;
    width: 100%;
    border-radius: .4rem;
    background: #f88770;
    font-size: 3rem;
    margin-bottom: .8rem;
    min-width: 70rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0rem 0.4rem .6rem 0 rgba(144, 88, 88, 0.6);
    transition: transform 150ms;
    transform: scale(1.03);
}

.choice-letter {
    padding: 2rem 2.5rem;
    color: white;
}

.choice-text {
    padding: 2rem;
    width: 100%
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.correct {
    background-color: greenyellow;
}

.incorrect {
    background: red;



/* Result Elements
==================== */

.grade {
    font-size: 3rem;
}

.finalScore {
    font-size: 3rem;
}

label {
    font-size: 2.5rem;
    margin-top: 2rem;
}

input {
    width: 100%;
    max-width: 20rem;
    margin-top: 1rem;
    padding: 12px 20px;
    font-size: 2rem;
    text-align: center;
}

/* Media Queries
================== */

@media screen and (max-width: 769px) {
    .choice-container{
        min-width: 40rem;
    }
}