/* Fonts
========== */

@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');


/* Global
=========== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: "Exo 2", cursive;
    background-color: rgb(145, 117, 169);
}

body {

}

h1 {
    font-size: 5.4rem;
    color: rgb(45, 3, 48);
    margin-bottom: 3rem;
}

h2 {
    font-size: 4.2rem;
    margin-bottom: 2rem;
}

/* Header Elements
==================== */

.space-between {
    display: flex;
    justify-content: space-between;
}

.hs-header {
    color: #fff;
    font-size: 2.5rem;
    text-decoration: none;
    margin-left: 2rem;
}

.fa-crown {
    margin-left: .5rem;
}

.timer {

}

.timer-display {
    font-size: 2.5rem;
    color: #fff;
    margin-right: 2rem;
}

.timerCounter {

}

/* Container/Rules Elements
============================ */

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    max-height: 50rem;
    margin: 0 auto;
    margin-top: 5rem;
    padding: 2rem;
    background-color:rgb(255, 255, 255, .7);
    border-radius: 2rem;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(89, 58, 91, 0.6);
}

.flex-column {
    display: flex;
    flex-direction: column;
    background-color:rgb(255, 255, 255, 0);
}

.flex-center {
    justify-content: center;
    align-items: center;
}
/* for editing purposes. change hidden back and home back */
.hidden {
    display: ;
}

#home,
#results {
    display: none;
}

.ready {
    background-color:rgb(255, 255, 255, 0);
}

.rules {
    font-size: 2rem;
    text-align: center;
    background-color:rgb(255, 255, 255, 0);
    
    line-height: 2;
}

.btn {
    width: 15rem;
    height: 5rem;
    font-size: 2rem;
    background-color: rgb(145, 117, 169);
    margin-top: 3rem;
}

.btn:hover {

}

/* Choice Elements
==================== */

.question {

}

.choice-container {

}

.choice-letter {

}

.choice-text {

}

.correct {

}

.incorrect {

}

/* Result Elements
==================== */

.finished {

}

.grade {

}

.finalScore {

}

/* Media Queries
================== */