/* Fonts
========== */

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


/* Global
=========== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: "Audiowide", cursive;
    background-color: rgb(25, 5, 43);
}

body {

}

h1 {
    font-size: 5.4rem;
    color: #fff;
    margin-bottom: 5rem;
}

h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
}

/* Header Elements
==================== */

.space-between {
    display: flex;
    justify-content: space-between;
}

.hs-header {
    color: #fff;
    font-size: 2.5rem;
    text-decoration: none;
    margin-left: 2rem;
}

.fa-crown {
    margin-left: .5rem;
}

.timer {

}

.timer-display {
    font-size: 2.5rem;
    margin-right: 2rem;
}

.timerCounter {

}

/* Container/Rules Elements
============================ */

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    max-height: 50rem;
    margin: 0 auto;
    margin-top: 5rem;
    padding: 2rem;
    background-color:rgb(49, 24, 70);
    border: .2rem dashed #fff;
    border-radius: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.ready {

}

.rules {
    font-size: 2rem;
    text-align: center;
}

.btn {

}

.btn:hover {

}

/* Choice Elements
==================== */

.question {

}

.choice-container {

}

.choice-letter {

}

.choice-text {

}

.correct {

}

.incorrect {

}

/* Result Elements
==================== */

.finished {

}

.grade {

}

.finalScore {

}

/* Media Queries
================== */